<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>more</key>
	<array>
		<dict>
			<key>name</key>
			<string>照片</string>
			<key>icon_nor</key>
			<string>chatBar_colorMore_photo</string>
			<key>icon_sel</key>
			<string>chatBar_colorMore_photoSelected</string>
		</dict>
		<dict>
			<key>name</key>
			<string>文件</string>
			<key>icon_nor</key>
			<string>chatBar_colorMore_video</string>
			<key>icon_sel</key>
			<string>chatBar_colorMore_videoSelected</string>
		</dict>
		<dict>
			<key>name</key>
			<string>拍摄</string>
			<key>icon_nor</key>
			<string>chatBar_colorMore_videoCall</string>
			<key>icon_sel</key>
			<string>chatBar_colorMore_videoCallSelected</string>
		</dict>
	</array>
</dict>
</plist>
